@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  position: relative;
  margin: 0;
  background-color: #fafafa;
}

.light-background {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 300px;
  z-index: 1;

  background: url(./assets/images/bg-desktop-light.jpg),
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.todo-list {
  position: relative;
  z-index: 10;
  padding-top: 36px;
  margin-right: 414px;
  margin-left: 486px;
}

.title {
  color: white;
  font-size: 40px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 48px;
  user-select: none;
}

.search-bar {
  height: 64px;
  width: 540px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0;
  margin: 0;
}

.list-item {
  background-color: white;
  width: 540px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06), 0 8px 20px rgba(0, 0, 0, 0.12);
  list-style: none;
}

li {
  border-bottom: 1px solid rgb(200, 203, 231);
  color: #494c6b;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 100%;
  padding: 24px 24px;
}

.bottom-filter {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: -0.25px;
  line-height: 100%;
  font-family: "Josefin Sans", sans-serif;
  color: #9495a5;
  padding: 28px 24px;
}

.item-left {
  font-weight: 400;
}

.filter {
  font-weight: bold;
}

.filter span{
  padding: 8px;
  cursor: pointer;
}

.remove {
  font-weight: 400;
  cursor: pointer;
}

.drag {
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 100%;
  margin: 180px;
  font-family: "Josefin Sans", sans-serif;
  color: #9495a5;
  text-align: center;
}

.search-input {
  border: none;
  outline: none;
  color: #9495a5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  letter-spacing: -0.25px;
  line-height: 100%;
  margin: 24px;

}

.completed {
  text-decoration: line-through; opacity: 0.6;
}

.checkbox-wrapper input{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.custom-checkbox {
  height: 24px;
  width: 24px;
  border: 1.5px solid #C8CBE7;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.checkbox-wrapper input:checked + .custom-checkbox {
  background-image: url("./assets/images/icon-check.svg"),
                    linear-gradient(135deg, hsl(192, 100%, 55%), hsl(280, 100%, 57%));
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: 60%, cover;
  border: none;
  padding: 1.5px;

}

*:not(input):not(textarea) {
  caret-color: transparent;
}

form {
  user-select: none;
}

input {
  caret-color: #3A7CFD;
}